@using StokTakipMVC.Models.Entity
@model List<TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>

<table style="margin-top:15px" class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>

        @foreach (var ktg in Model)
        {
            <tr>
                <td>@ktg.ID</td>
                <td>@ktg.AD</td>
                <td><a href="/Kategori/Sil/@ktg.ID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktg.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>
